
<h4></h4>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ユーザーページだよ！</h1>
    <p class="lead"><%= "#{@user.email}さんのマイページ" %></p>
  </div>
</div>
<%= render partial: "events/event", collection: @events %>

<%= paginate(@events) %>