<div class="jumbotron">
  <h1 class="display-4"><%= event.title %></h1>
  <p class="lead">Date: <%= event.date %></p>
  <hr class="my-4">
  <p><%= event.text %></p>
  <%= link_to "詳細", event_path(event), method: :get, class: "btn btn-primary btn-lg", role: "button" %>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>