.octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  height: 1.4em;
}

.jumbotron {
  padding: 1rem;
  background-color: #fbfbfb;
  border: double 1px;
  border-radius: 1em;
  border-radius: 0.3em;
  margin-bottom: 1rem;
}

.jumbotron.jumbotron-fluid {
  padding: 1rem 1rem;
  color: white;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 0.3rem;
}

.btn-light {
    color: #212529;
    background-color: #f7f7f7;
    border-color: #f8f9fa;
}

.display-3 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
}

h2.display-4 {
  font-size: 1.8rem;
}

.event_status {
  width: 200px;
}

.event_date {
  width: 200px;
}

.menu-bar {
  margin-left: 0px;
}