.jumbotron {
  padding: 2rem 1rem;
  background-color: #fbfbfb;
  border: double 1px;
  border-radius: 1em;
}

.jumbotron.jumbotron-fluid {
  background-color: #007bff;
  padding: 1rem 1rem;
  border-radius: 0.3em;
  color: white;
}

h1.display-4 {
  font-size: 2.5rem;
}